


/*Font: Barlow Semi Condensed*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    box-sizing: border-box;
     /* colors */
     --Scissors-Gradient: hsl(40, 84%, 53%);
     --Paper-Gradient:  hsl(230, 89%, 65%);
     --Rock-Gradient:  hsl(349, 70%, 56%);
     --cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
     --Dark-text: hsl(229, 25%, 31%);
     --Score-text: hsl(229, 64%, 46%);
     --Header-outline: hsl(217, 16%, 45%);
     --Radial-Gardient-BG: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
 

      /* colors */
      --fs-700: 1.5rem;
      --fs-600: 1rem;
      --fs-500: 1rem;
      --fs-400: 0.9375rem;
      --fs-300: 1rem;
      --fs-200: 0.875rem;
}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

img,
picutre {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}




body {
    font-family: 'Barlow Semi Condensed';
    height: 100vh;
    background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    padding: 2rem;
}


.main {
    width: 100%;
}


.title-score {
    justify-content: space-between;
    border: var(--Header-outline) solid 3px;
    padding: 1.1rem ;
    border-radius: 8px;
}




.score-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 0.3rem 1.5rem;
    color: var(--Dark-text);
    border-radius: 8px;
    gap: 0;
    
}

.score-title {
    font-size: 12px;
}

.score {
    font-size: 1.8rem;
}


.rock-paper-scissors {
    background-image: url(/Rock-Paper-Scissors/images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: center center;
    grid-template-columns: repeat(fill, minmax(120px, 150px));
    grid-template-rows: repeat(2,1fr);
    padding: 5rem 0;
    justify-content: center;
}




.paper {
    grid-row: 1;
    grid-column: 1/2;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 10px solid var(--Paper-Gradient);
    padding: 1.2rem;
}


.scissor {
    grid-row: 1;
    grid-column: 3/4;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    border-radius: 50%;
    border: 10px solid var(--Scissors-Gradient);
}

.rock {
    grid-row: 2;
    grid-column: 2/3;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    border-radius: 50%;
    border: 10px solid var(--Rock-Gradient);
}

.triangle {
    width: 50%;
    position: absolute;
    z-index: -1;
    left: 25%;
    top: 35%;
}


.readrules {
    color: white;
    text-align: center;
    font-size: 1.1rem;  
    letter-spacing: 0.3rem;
    border: 1px solid white;
    justify-self: center;
    padding: 0.5rem 2rem;
    border-radius: 8px;
}


.rules {
    background-color: white;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    padding: 3rem 1rem;
}

